@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: sans-serif;
	font-weight: 200;
	margin: 0;
}

h1 {
	font-weight: 700;
	margin: 0px;
}

h2, p {
	font-size: 18px;
}

header {
	background-color: #1F2937;
	color: #F9FAF8;
}

header h1 {
	font-size: 48px;
}

header h2, header nav ul li {
	color: #E5E7EB;
}

header .logo {
	font-size: 24px;
	font-weight: 600;
}

nav {
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}

nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	gap: 25px;
}

section {
	padding: 50px 0px;
}

footer {
	background-color: #1F2937;
	color: #F9FAF8;
	display: flex;
	justify-content: center;
	padding: 25px;
	margin: 0px;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.hero {
	display: flex;
	gap: 30px;
	padding-bottom: 150px;
}

.hero-text, .hero-image {
	flex: 1;
}

.hero-text > p {
	color: #E5E7EB;
	margin: 0px 0px 10px;
}

.hero-image {
	height: 250px;
	background-color: #666d70;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	color: #F9FAF8;
	background-color: #3882F6;
	padding: 8px 30px;
	border: none;
	border-radius: 7px;
	font-size: 18px;
	font-weight: 400;
}

#features h1 {
 color: #1F2937;
 font-size: 36px;
 text-align: center;
}

.feature {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	width: 180px;
	text-align: center;
	color: #1F2937;
}

.feature-box {
	box-sizing: border-box;
	border: 4px solid #3882F6;
	border-radius: 15px;
	height: 180px;
	width: 180px;
}

.features-container {
	display: flex;
	justify-content: center;
	gap: 45px;
	padding: 50px 0px;
}

#quote {
	background-color: #E5E7EB;
	padding: 80px;
}

#quote p {
	margin: 0px;
	color: #1F2937;
}

.quote-text {
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
}

.quote-author {
	font-size: 24px;
	font-weight: 900;
	text-align: right;
	padding-right: 40px;
}

#cta-banner {
	padding: 100px 0px;
}

.cta {
	box-sizing: border-box;
	border-radius: 7px;
	background-color: #3882F6;
	color: #F9FAF8;
	padding: 50px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cta p {
	color: #E5E7EB;
	margin: 0px;
}

.border-white {
	border: 2px solid #F9FAF8;
}